.intro-section {
    background: rgb(32,98,218);
    background: linear-gradient(90deg, rgba(32,98,218,1) 41%, rgba(120,131,255,1) 57%);
}

.intro {
    img {
        width: 10rem;
        height: 13.2rem;
        border: 1px solid transparent;
        border-radius: 50%;
    }
}